TimeKeeper/Service References/WCFAdapter/WCFAdapter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TimeKeeper.WCFAdapter/WCFAdapter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TimeKeeper.WCFAdapter" />
  <xs:element name="GetTaskList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TimeKeeper.WCFAdapter" minOccurs="0" name="GetTaskListResult" nillable="true" type="q1:ArrayOfTask_1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishTask">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>